<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="title" content="Canadian Federation of University Women Saskatoon - CFUW" />
  <meta itemprop="name" content="Canadian Federation of University Women Saskatoon - CFUW" />
  <meta property="og:title" content="Canadian Federation of University Women Saskatoon - CFUW" />
  <meta name="description" content="The Canadian Federation of University Women/Saskatoon Inc. is a non-profit, non-partisan, charitable organization with currently about seventy members. Membership is also open to women who are non-graduates but who support the goals and aspirations of CFUW." />
  <meta itemprop="description" content="The Canadian Federation of University Women/Saskatoon Inc. is a non-profit, non-partisan, charitable organization with currently about seventy members. Membership is also open to women who are non-graduates but who support the goals and aspirations of CFUW." />
  <meta id="meta-tag-description" property="og:description" content="The Canadian Federation of University Women/Saskatoon Inc. is a non-profit, non-partisan, charitable organization with currently about seventy members. Membership is also open to women who are non-graduates but who support the goals and aspirations of CFUW." />


  <title>Canadian Federation of University Women Saskatoon - CFUW</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link id="linkStylesheet" rel="stylesheet" href="minified/index.css?version=3.5" />

    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <![endif]-->

</head>


<body id="index">
<!-- http://www.cheatography.com/masonjo/cheat-sheets/bootstrap/ -->
  <div id="mainContainer" class="container mainContainer">
    <section id="jumbotron" class="jumbotron jumbotronHeaderImage marginTopZero marginBottomZero">
      <div class="row headColLogos">
        <div class="col-xs-2 center-block logo headColLeftLogo">&#160;</div>
        <div id="headColRightLogo" class="col-xs-2 logo headColRightLogo">&#160;</div>      
        <div id="" class="col-xs-8 cfuwWhite">        
          <h2 class="marginTopZero cfuwSaskatoon cfuwSaskatoonFontHeading boldest">CFUW Saskatoon</h2>
          <p class="marginTopZero canadianFederationOfUniversity letterSpacing">CANADIAN FEDERATION OF UNIVERSITY WOMEN</p>
        </div>                    
      </div>
      <div id="rowPowerOfWomen" class="row powerOfWomen cfuwWhite">
        <h2 class="col-xs-12">The Power Of Women Working Together</h2>
      </div>
    </section><!-- .jumbotron -->
  <!-- Begin Nav -->
  <nav class="navbar navbar-inverse marginBottomZero">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBarTop">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
      </div>
      <div id="navBarTop" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a id="btnHome" data-index-number="4" href="JavaScript:void(0);">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="JavaScript:void(0);">About Us<span class="caret"></span></a>
            <ul class="dropdown-menu cfuwDropDownThemeOrange">
              <li><a id="btnMissionStatement" data-index-number="8" href="JavaScript:void(0);">Mission Statement</a></li>
              <li><a id="btnBoardMembers" data-index-number="1" href="JavaScript:void(0);">Board</a></li>
              <li><a id="btnAffiliations" data-index-number="0" href="JavaScript:void(0);">Affiliations</a></li>
              <li><a id="btnMembershipApplication" data-index-number="7" href="JavaScript:void(0);">Membership Application</a></li>
              <li><a  id="btnContactUs" data-index-number="2" href="JavaScript:void(0);">Contact Us</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="JavaScript:void(0);">Announcements<span class="caret"></span></a>
            <ul class="dropdown-menu cfuwDropDownThemeOrange">
              <li><a id="btnNews" data-index-number="9" href="JavaScript:void(0);">News</a></li>
              <li><a  id="btnMeetings" data-index-number="6" href="JavaScript:void(0);">Meetings/Events</a></li>
              <li><a  id="btnInterestGroups" data-index-number="5" href="JavaScript:void(0);">Interest Groups</a></li>
            </ul>
          </li>
          <li><a id="btnBookSale" data-index-number="11" href="JavaScript:void(0);">Book Sale</a></li> 
          <li><a id="btnScholarships" data-index-number="10" href="JavaScript:void(0);">Scholarships</a></li> 
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Nav -->
  <div class="container-fluid containerPageLowerBody">
    <div id="pageBackgroundImage"class="pageBackgroundImage"></div>
    <div class="row containerPageMiddleBody positionRelative cfuwWhite">    
      <div id="boardMembers" class="col-xs-10 col-xs-offset-1 boardMembers containerPageText cfuwTextColor">&#160;</div>
      <footer id="footerMain" class="footerMain col-xs-12">
         <div class="panel-footer text-center cfuwDarkBlueBackground">
          <div id="footerTopRow" class="footerTop row">            
             <ul class="textAlignLeft noBullet col-xs-2">
               <li id="btnFooterHome" class="bold">Home</li>
             </ul>
             <ul class="textAlignLeft noBullet col-xs-2">
                <span class="bold">About Us</span>
                  <li id="btnFooterMissionStatement" >Mission Statement</li>
                  <li id="btnFooterBoardMembers">Board</li>
                  <li id="btnFooterAffiliations">Affiliations</li>
                  <li id="btnFooterMembershipApplication">Membership Application</li>
                  <li id="btnFooterContactUs">Contact Us</li>
             </ul>
             <ul class="textAlignLeft noBullet col-xs-2">
                <span class="bold">Annoucements</span>
                  <li id="btnFooterNews">News</li>
                  <li id="btnFooterMeetings">Meetings/Events</li>
                  <li id="btnFooterInterestGroups">Interest Groups</li>
             </ul>
             <ul class="textAlignLeft noBullet col-xs-2">
                <li id="btnFooterBookSale" class="bold">Book Sale</li>
             </ul>
             <ul class="textAlignLeft noBullet col-xs-2">
                <li id="btnFooterScholarships" class="bold">Scholarships</li>
             </ul>
             <ul class="textAlignLeft noBullet col-xs-2">
               <span class="bold">
               <span class="block">CFUW Saskatoon Inc.</span>
                <span class="block">P.O. Box 7405</span>
                <span class="block">Saskatoon, SK S7K 4J3</span>
              </span>              
             </ul>   
          </div> <!-- End .footerTop -->
          <div class="footerBottom cfuwAddressURL col-xs-12">
               <span id="cfuwAddressURL" class="cfuwAddressLink bold block textAlignRight floatRight clear col-xs-2">
                www.fcfdu.org
              </span>              
          </div>                   
         </div> <!-- End .panel-footer --> 
      </footer>
    </div>
  </div> <!-- End .container.containerPageLowerBody -->  
</div> <!-- .container.mainContainer -->
<div id="templatesOnly" class="templatesOnly displayNone">
<script type="text/template" id="templatePageTitle">    
<h3><%= typeof strNameTitle != 'undefined' ? strNameTitle: ''%></h3>
</script>               
<script type="text/template" id="templateViewLeftTitle">    
    <div id="pageTitleRow" class="row">
      <div id="pageTitle"class="col-xs-12 cfuwWhite text-right containerPageTitle rotateGoLeft"></div>
    </div>          
</script>
<script type="text/template" id="templateAffiliations">    
  <% if (typeof(strNameTitle) !== 'undefined') { %>
    <h3 class=" <%= strClassViewPageTitle %> "><%= strNameTitle%></h3>
  <% } %>    
  <div class="affiliations row">
    <a class="col-xs-12 <%=strClass%>"  href=<%=href%> target="_blank"><%=affiliationName%></a>
  </div>
</script>
<script type="text/template" id="templateBoardMembers">
  <% if (typeof(strNameTitle) !== 'undefined') { %>
    <h3 class=" <%= strClassViewPageTitle %> "><%= strNameTitle%></h3>
  <% } %>        
<section class="marginBoardMembers">
        <p class="bold letterSpacing marginBottomZero"><%=position%></p>
        <p class="marginBottomZero"><%=name%></p>
        <p class="marginBottomZero"><%=phone%></p>
        <p class="marginBottomZero"><a class="cfuwAnchorTag" href="mailto:<%=email%>" target="_top"><%=email%></a></p>
</section>
</script> 
<script type="text/template" id="templateContactUs">  
  <% if (typeof(strNameTitle) !== 'undefined') { %>
    <h3 class=" <%= strClassViewPageTitle %> "><%= strNameTitle%></h3>
  <% } %> 
  <section class="sectionContactUs row">
    <h4 class="headerContactUs col-xs-9">Contact Us: Canadian Federation University of Women</h4>
    <form id="frmContactUs" class="frmContactUs col-md-9 col-xs-7" action="" method="POST" enctype="text/plain">
      <section id="frmMessageContactUsSucccess" class="frmMessageContactUsSucccess"></section>
      <fieldset class="block">
        <div class="containerLabel col-xs-12"><label class="paddingZero col-xs-4" htmlFor="frmContactUsFirstName">Subject: </label> 
          <input id="frmContactUsSubject" class="col-xs-12" placeholder="Subject" name="contact-subject" tabIndex="1" type="text" />
        </div>
        <div class="containerLabel col-xs-12"><label class="paddingZero col-xs-4" htmlFor="frmContactUsFirstName">First Name: </label> 
          <input id="frmContactUsFirstName" class="col-xs-12" placeholder="First Name" name="contact-first" tabIndex="2" type="text" />
        </div>
        <div class="containerLabel col-xs-12"><label class="paddingZero col-xs-4" htmlFor="frmContactUsLastName">Last Name: </label>
          <input id="frmContactUsLastName" class="col-xs-12" placeholder="Last Name" name="contact-last" tabIndex="3" type="text" />
        </div>
        <div class="containerLabel col-xs-12"><label class="paddingZero col-xs-4" htmlFor="frmContactUsEmail">E-mail: </label> <input id="frmContactUsEmail" name="contact-email" class="col-xs-12" placeholder="Email" tabIndex="4" type="email" /></div>
      </fieldset>
      <fieldset class="block">
        <div class="containerLabel col-xs-12"><label class="paddingZero col-xs-3" htmlFor="frmContactUsText">Message:</label></div>      
        <div class="paddingZero containerContactUsText col-xs-12">
          <textarea id="frmContactUsText" class="paddingZero col-xs-12" type="minlength" name="contact-message" tabIndex="4" name="frmContactUsText" cols="30" rows="10"></textarea>
        </div>
      </fieldset>
      <fieldset class="col-xs-12">
        <input id="btnFormContactUsSend" class="col-xs-12 btnFormContactUsSend" type="submit" value="Send" />
      </fieldset>
      <div id="processingIcon" class="processingIcon">&#160;</div>
    </form>
    <div class="forMoreInformation col-md-3 col-xs-12">
      <hr class="horizontalRule" />
      <p><%=headerTextRightSide%></p>
      <p class="namePresident"><%=namePresident%></p>
      <p class="bold titlePresident"><%=positionPresident%></p>
      <p class="vicePresident"><%=nameVicePresident%></p>
      <p class="bold titleVicePresident"><%=positionVicePresident%></p>   
      <p class="marginBottomZero"><%=headerEmail%></p>   
      <p class="cfuwAnchorTagContainer">
        <a class="cfuwAnchorTag" href="mailto:<%=email%>?subject=CFUW Contact Us:"><%=email%></a>
      </p>
      <p><%=address%></p>
      <p><%=moreInfo%></p>
    </div>
  </section> <!-- .sectionContactUs.row -->
</script>       
<script type="text/template" id="templateEvents">    
<p class="<%= strTagName%> marginContactUs"><%= strName%></p>
</script>       
<script type="text/template" id="templateHome">
  <% if (typeof(strNameTitle) !== 'undefined') { %>
    <h3 class=" <%= strClassViewPageTitle %> "><%= strNameTitle%></h3>
  <% } %>       
<p class="<%= strClassHeading %>"><%= heading %></p>
<p class="<%= strClassContent %>"><%= content %></p>
</script> 
<script type="text/template" id="templateInterestGroups">
  <% if (typeof(strNameTitle) !== 'undefined') { %>
    <h3 class=" <%= strClassViewPageTitle %> "><%= strNameTitle%></h3>
  <% } %>           
  <section class="interestGroups row">
    <p class="marginBottomZero bold name col-xs-12"><%=name%></p>
    <p class="marginBottomZero dateTime col-xs-12"><%=dateTime%></p>
    <p class="marginBottomZero contactPerson col-xs-12"><%=contactPerson%></p>
    <p class="marginBottomZero contactPerson col-xs-12 <%=contactPersonSecond.length > 1? 'marginBottomIncrease': ''%>"><%=contactPersonSecond%></p>
  </section>
</script>     
<script type="text/template" id="templateMeetings">
  <% if (typeof(strNameTitle) !== 'undefined') { %>
    <h3 class=" <%= strClassViewPageTitle %> "><%= strNameTitle%></h3>
  <% } %>       
  <p class= <%= '"'+ strClassDate + '"' %> > <%= dateNode%></p>
  <p class= <%= '"'+ strClassTime + '"' %> > <%= timeNode%></p>
  <p class= <%= '"'+ strClassInfo + '"' %> > <%= info%></p>
  <p class= <%= '"'+ strClassLocation + '"' %> > <%= location%></p>
</script>   
<script type="text/template" id="templateMembershipApplication">
  <% if (typeof(strNameTitle) !== 'undefined') { %>
    <h3 class=" <%= strClassViewPageTitle %> "><%= strNameTitle%></h3>
  <% } %>    
  <div class="row">
    <a class="<%= strClassWord%> col-xs-12" target="_blank" href= <%= '"'+ hrefWord + '"' %> > <%= word %> </a>
    <a class="<%= strClassPdf%> col-xs-12" target="_blank" href= <%= '"'+ hrefPdf + '"' %> > <%= pdf %> </a>
  </div>
</script>    
<script type="text/template" id="templateMissionStatement">
  <% if (typeof(strNameTitle) !== 'undefined') { %>
    <h3 class=" <%= strClassViewPageTitle %> "><%= strNameTitle%></h3>
  <% } %>    
  <p class="<%= strClassHeading %>"><%= heading%></p>
  <p class="<%= strClassText %> <%= strNodeName %>"><%= textNode%></p>
  </script>  
  <script type="text/template" id="templateNews"> 
  <% if (typeof(strNameTitle) !== 'undefined') { %>
    <h3 class=" <%= strClassViewPageTitle %> "><%= strNameTitle%></h3>
  <% } %>        
  <div class="row">
    <a class="<%= strClassWord%> col-xs-12" target="_blank" href= <%= '"'+ hrefWord + '"' %> > <%= word %> </a>
    <a class="<%= strClassPdf%> col-xs-12" target="_blank" href= <%= '"'+ hrefPdf + '"' %> > <%= pdf %> </a>
  </div>
</script>          
<script type="text/template" id="templateScholarships">
  <% if (typeof(strNameTitle) !== 'undefined') { %>
    <h3 class=" <%= strClassViewPageTitle %> "><%= strNameTitle%></h3>
  <% } %>          
  <% if (typeof(paragraph0) !== 'undefined') { %>
    <p class="<%=strClass0%>"><%= paragraph0%></p>
  <% } %>
  <% if (typeof(paragraph1) !== 'undefined') { %>
    <p class="<%=strClass1%>"><%= paragraph1%></p>
  <% } %>
  <% if (typeof(paragraph2) !== 'undefined') { %>
    <p class="<%=strClass2%>"><%= paragraph2%></p>
  <% } %>
  <% if (typeof(paragraph3) !== 'undefined') { %>
    <p class="<%=strClass3%>"><%= paragraph3%></p>
  <% } %>
  <% if (typeof(paragraph4) !== 'undefined') { %>
    <p class="<%=strClass4%>"><%= paragraph4%></p>
  <% } %>
  <% if (typeof(paragraph5) !== 'undefined') { %>
    <p class="<%=strClass5%>"><%= paragraph5%></p>
  <% } %>
  <% if (typeof(paragraph6) !== 'undefined') { %>
    <p class="<%=strClass6%>"><%= paragraph6%></p>
  <% } %>
  <% if (typeof(paragraph7) !== 'undefined') { %>
    <p class="<%=strClass7%>"><%= paragraph7%></p>
  <% } %>
  <% if (typeof(paragraph8) !== 'undefined') { %>
    <p class="<%=strClass8%>"><%= paragraph8%></p>
  <% } %>
  <% if (typeof(paragraph9) !== 'undefined') { %>
    <p class="<%=strClass9%>"><%= paragraph9%></p>
  <% } %>
  <% if (typeof(paragraph10) !== 'undefined') { %>
    <p class="<%=strClass10%>"><%= paragraph10%></p>
  <% } %>
  <% if (typeof(paragraph11) !== 'undefined') { %>
    <p class="<%=strClass11%>"><%= paragraph11%></p>
  <% } %>
  <% if (typeof(link) !== 'undefined') { %>
    <a class="<%=strClassAnchor%>" href="<%=href%>" target="_blank"><%= link %></a>
  <% } %>
</script>         
</div> <!-- End #templatesOnly -->
  <!-- scripts / config defines script dependencies in a single location -->
  <script data-main="scripts/config" type="text/javascript" src="bower_components/requirejs/require.js?version=3"></script>
</body>
</html>