@import url(theme.css);
body{
    background-color:#0066AB;    
    font-family:Helvetica, sans-serif;
}

.visibilityNone{
    visibility:hidden;
}
.letterSpacing{
    letter-spacing:3px;
}
.boldest{
    font-weight:900;
}
.jumbotron{
    background-color:transparent;
    min-width:500px;
}
.marginTopZero{
    margin-top:0;
}
.marginBottomZero{
    margin-bottom:0;
}
.container{
    
}
.headerRow{
    background-color:transparent;
}
.positionAbsolute{
    position:relative;
    z-index:1;
}
/* Begin Header Top */
.cfuwSaskatoon{
    font-size:40px;
    letter-spacing:8px;
}
.powerOfWomen{
    margin:67px auto 40px auto;
}
.jumbotronHeaderImage{
    background:url(../images/headerTopBackgroundA.png) center center no-repeat transparent;
    background-position-y:1px;
    height:355px;
    min-width:1150px;
}
.headColLogos{
    height:100px;
    overflow:hidden;
    padding-left:4%;
}
.headColLeftLogo{    
    background:url(../images/logoSaskatoon.png) center left no-repeat transparent;
    background-position-y:-1px;
    
}
.headColRightLogo{
    background:url(../images/logoCFUWSprite.png) center left no-repeat;
    background-position-y:-11px;
    position:relative;
    left:-7%;
}
.logo.headColRightLogo:hover{
    
}
.logo.headColRightLogo, .logo.headColLeftLogo{
    padding:17.36% 0;
    background-size:50.36% auto;
}
.logo.headColRightLogo:hover{

}
.headColCenter{ 

}
    .headColCenter div{
        
    }
    .headColCenter .cfuwLtd{
        font-size:47px;
    }    
    .headColCenter div span{
        

    }
    .textTop{
        font-size:3em;
    }
    .textMiddle{
        font-size:1.3em;
    }
    .textBottom{
        font-size:2.0em;
        position:relative;
        top:-25px;
    }

/* End Header Top */
/* Begin top nav bar */
.navBarContainer{
    margin:auto;
    width:100%;

}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color:#0064AD;
}
.navbar-inverse{ /* override bootstrap */
    background-color:#E28D14;
    border-color:#E28D14;
}
.navbar-inverse .navbar-nav>li>a{
    color:#FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color:#fff;
    background-color:#E28D14;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    color:#fff;
    background-color:#DFA757;
}
.navbar-inverse .navbar-toggle{
    border-color:transparent;
}

@media (min-width: 768px){
    .navbar-nav{
        float:right;
        margin:0;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
        color:#000000;
    }        
}
@media (max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
        color:#FFFFFF;
    }
}

    .navBarTop{
        text-align:center;
        float:left;
        display:block;
        margin-left:29%;
    }
        .navBarTop li{
            float:left;
            text-align:center;
            color:#FFFFFF;
            display:inline-block;
            margin:0;
            padding:2px 1px;
            vertical-align:top;
            width:10%;
        }
        .navBarTop li.hasShortText{
            width:6%;
        }
/* End top nav bar */

/* Begin Bridge image opacity */
body{
    background-color:#222;
}

.hero-unit {
  background-image:url('../images/bridgeBigCenterB.png');
  background-size:cover;
  height:300px;
  opacity: .5;
}

h1 {
  position: relative;
  top: -350px;
  left: 40px;
  color:#fff;
}
/* End Bridge image opacity */

/* Begin Row Main */
.rowMain{

}
    .colMainLeft{
        background-color:red;
        width:22%;
    }
    .colMainCenter{
        
    }
    .colMainRight{
        background-color:blue;
    }
/* End Row Main */

/* Begin Row Address */
.rowAddress{
    padding-top:20px;
}
    .rowAddress .colAddress{
        height:100px;
    }
.colAddress{
    padding:0 4%;
}
    .colAddress .text{
        margin:0;
        padding:0 4%;
    }
/* End Row Address */

/* Begin Generics */
.hide{
    display:none;
}
.opaque{
    opacity:1.0;
}
.btnOrange{
    color:#FFFFFF;
    background-color:#E28D14;
    border-color:#E28D14;
}
.transparent{
    background-color:#B9CFFD;
}
.clearRight{
    clear:right;
}
.clearLeft{
    clear:left;
}
.bold{
    font-weight:bold;
}
.serif{
    font-family:serif;
}
.textAlignRight{
    text-align:right;
}
.cfuwBackground{
 background:url(../images/bridgeBigCenter.png) center 0 no-repeat transparent; 
}
.cfuwBackground.jsOpacity{
    background:url(../images/bridgeBigCenterC.png) center 0 no-repeat transparent;    
    background-blend-mode:color;
    height:777px;
}
.jsBookSale{
    background:url(../images/BookSaleScaled2015Oct08.png) center 0 no-repeat transparent;    
    background-blend-mode:color;
    margin:2em auto;
    border-radius:10px;
    height:777px;    
}
.jsBookSale h3, .jsBookSale table{
    display:none;        
}
.cfuwGrayBlue{
    color:#121114;
}
.tableFontMedium{
    font-size:1.3em;
}
.colMainCenter table tr{
    border-bottom-width:1px;
    border-bottom-style:solid;
}
.colMainCenter table tr td{
    width:53%;
}

.cfuwWhite, ul.cfuwWhite>li>a {
    color:#FFFFFF;
}
ul>li>a:hover{
    text-align:left;

    background-color:#FFFFFF;    
}
.cfuwOrange{
    background-color:#E28D14;   
}
.cfuwBlue{
    background-color:#041D7B;   
}

/* End Generics */

/* Begin Media Queries */
@media (min-width:1200px){ /* override bootstrap */
    .mainContainer{ /* want page to have less of a margin */
        width:1226px;
    }
}
 @media (min-width:360px) and (max-width:767px){ /* Mobile all */
    body{
        min-width:100%;
    }
    .headColCenter{ 
        margin-top:6px;
    }
    .jumbotronHeaderImage .canadianFederationOfUniversity, .powerOfWomen h2{
        font-size:15px;
    }            
    .containerTopHeaderNavs{

    }
    .jumbotronHeaderImage{
        min-width:auto;
    }
    .cfuwSaskatoon{
        font-size:30px;
        letter-spacing:3px;
    }                
    .navBarTop li{
        font-size:80%;
    }    
    .responsiveScale{
        background-size:50%;
    }
    .letterSpacing{
        letter-spacing:0;
    }
    .textMiddle{
        font-size:100%;
        padding-top:33px;
    }
    .textBottom{
        font-size:85%;
    }
    .headColCenter div{
        padding-top:37%;
        line-height:17px;
        height:32px; 
    }
}
@media (max-width:767px) and (orientation:landscape){ /* mobile landscape */
    .powerOfWomen{
        font-size:24px;
    }
    .col.headColCenter h1{
        font-size:220%;
    }
    .col.headColCenter h4{
        font-size:97%;
    }    
    .textTop{
        
    }
    .textBottom{
        
    }
    .logo.headColRightLogo:hover{
        background-position-y:-50px;
    }
}
@media (max-width:767px) and (orientation:portrait){ /* mobile portrait */
    .textTop{
        font-size:100%;
    }
    .textMiddle{
        font-size:80%;
    }
    .textBottom{
        font-size:60%;
    }    

}
/* End Media Queries */