.exception{
    color:#FF0000;
    background-color:#FFFFFF; 
    position:absolute;
    z-index:3333;
    top:1.0em;
    padding:2.0em;
    left:10%;
    width:53%;   
}
.li{
    display:list-item;
    margin-left:1.3em;
    list-style-type:disc;  
}
.isLink{
    cursor:pointer;
}