@import url("http://fonts.googleapis.com/css?family=EB Garamond");
body{
    background-color:#007194;    
}

.cfuwDropDownThemeOrange{
    background-color:#E28D14;
}
    .cfuwDropDownThemeOrange li a{
        color:#FFFFFF;
    }    
    .cfuwDropDownThemeOrange>li>a:focus, .dropdown-menu>li>a:hover{
        color:#FFFFFF;
        background-color:#1A70A6;    
    }

.cfuwSaskatoonFontHeading{
    font-family:'EB Garamond';
}
.cfuwAnchorTag{
    color:#041D7B;
    font-weight:bold;
}
.letterSpacing{
    letter-spacing:1px;
}
.exception{
    color:#FF0000;
    background-color:#FFFFFF; 
    position:absolute;
    z-index:3333;
    top:1.0em;
    padding:2.0em;
    left:10%;
    width:53%;   
}
.li{
    display:list-item;
    margin-left:1.3em;
    list-style-type:disc;  
}
.isLink{
    cursor:pointer;
}